.lyrics {
	> div {
		font-weight: 500;
		margin: 1.25rem 0;

		color: var(--color-primary);
	}
	> p {
		opacity: 0.65;
		line-height: 2;
		text-align: left;
		position: relative;
		margin-bottom: 0.3rem;
		transition: opacity 0.3s ease-in-out;
		&.active {
			opacity: 1;
			font-weight: 500;
		}
		.icon {
			position: absolute;
			left: -1rem;
			top: 0.7rem;
			color: var(--color-primary);
		}
	}
}
